configuration {
    modi: "drun,run,window";
    font: "JetBrainsMono Nerd Font 17";
    show-icons: true;
    icon-theme: "Papirus-dark";
    terminal: "kitty";
    drun-display-format: "{name}";
    display-drun: " Apps";
    display-run: " Run";
    display-window: " Windows";
    sidebar-mode: true;
}
