* {
    generated-background: {{colors.surface.default.hex}}e6;
    generated-surface: {{colors.surface_container.default.hex}}f2;
    generated-foreground: {{colors.on_surface.default.hex}};
    generated-primary: {{colors.primary.default.hex}};
}
